@import 'assets/styles/global.scss';

.inputContainer {
  border-radius: 0.8rem;
  border: 0.1rem solid $Grayscale300;
  background: $White;
  width: 72rem;
  height: 5rem;
  padding: 1.2rem 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  @include mobile {
    width: 100%;
  }
}
.inputContainer:focus {
  border: 0.2rem solid $Grayscale700;
}
.inputContainer:hover {
  border: 0.1rem solid $Grayscale500;
}
.isInputValue {
  border: 0.2rem solid $Grayscale700;
}
.error {
  border: 0.1rem solid $Error;
}
.errorMsg {
  color: red;
  font-size: 1.6rem;
}
