@import 'assets/styles/global.scss';

@mixin buttonStyleDelete {
  border: 0;
  cursor: pointer;
}

.basicSet {
  display: flex;
  gap: 10px;
}

.primaryButton56 {
  @include buttonStyleDelete;
  display: inline-flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: var(--Purple-600, #9935ff);
  p {
    width: 160px;
    color: var(--white, #fff);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.18px;
  }

  &.disabled {
    background: var(--gray-300, #ccc);
    cursor: auto;
  }

  &:not(.disabled):hover {
    background: var(--Purple-700, #861dee);
  }
  &:not(.disabled):focus {
    border: 2px solid var(--Purple-900, #5603a7);
    background: var(--Purple-800, #6e0ad1);
  }
  &:not(.disabled):active {
    background: var(--Purple-800, #6e0ad1);
    border: 0;
  }
}

.primaryButton40 {
  @include buttonStyleDelete;
  display: inline-flex;
  padding: 7px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: var(--Purple-600, #9935ff);
  p {
    width: 90px;
    color: var(--white, #fff);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.16px;
  }

  &.disabled {
    background: var(--gray-300, #ccc);
    cursor: auto;
  }

  &:not(.disabled):hover {
    background: var(--Purple-700, #861dee);
  }
  &:not(.disabled):focus {
    border: 2px solid var(--Purple-900, #5603a7);
    background: var(--Purple-800, #6e0ad1);
  }
  &:not(.disabled):active {
    background: var(--Purple-800, #6e0ad1);
    border: 0;
  }
}

.secondaryButton40 {
  @include buttonStyleDelete;
  display: inline-flex;
  padding: 7px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--Purple-600, #9935ff);
  background: var(--white, #fff);
  p {
    width: 90px;
    color: var(--Purple-700, #861dee);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.16px;
  }

  &.disabled {
    background: var(--gray-300, #ccc);
    p {
      color: var(--white, #fff);
    }
    cursor: auto;
  }

  &:not(.disabled):hover {
    border: 1px solid var(--Purple-700, #861dee);
    background: var(--Purple-100, #f8f0ff);
    p {
      color: var(--Purple-600, #9935ff);
    }
  }
  &:not(.disabled):focus {
    border: 1px solid var(--Purple-800, #6e0ad1);
    background: var(--white, #fff);
    p {
      color: #9747ff;
    }
  }
  &:not(.disabled):active {
    border: 1px solid var(--Purple-800, #6e0ad1);
    background: var(--Purple-100, #f8f0ff);
    p {
      color: var(--Purple-600, #9935ff);
    }
  }
}

.outlinedButton56 {
  @include buttonStyleDelete;
  display: inline-flex;
  padding: 14px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid var(--gray-300, #ccc);
  background: var(--white, #fff);
  p {
    width: 160px;
    color: var(--gray-900, #181818);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.18px;
  }

  &.disabled {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-300, #ccc);
    p {
      color: var(--white, #fff);
    }
    cursor: auto;
  }

  &:not(.disabled):hover {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-100, #f6f6f6);
  }
  &:not(.disabled):focus {
    border: 1px solid var(--gray-500, #555);
    background: var(--white, #fff);
  }
  &:not(.disabled):active {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-100, #f6f6f6);
  }
}

.outlinedButton40 {
  @include buttonStyleDelete;
  display: inline-flex;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--gray-300, #ccc);
  background: var(--white, #fff);
  p {
    width: 90px;
    height: 24px;
    color: var(--gray-900, #181818);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: -0.16px;
  }

  &.disabled {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-300, #ccc);
    p {
      color: var(--white, #fff);
    }
    cursor: auto;
  }

  &:not(.disabled):hover {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-100, #f6f6f6);
  }
  &:not(.disabled):focus {
    border: 1px solid var(--gray-500, #555);
    background: var(--white, #fff);
  }
  &:not(.disabled):active {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-100, #f6f6f6);
  }
}

.outlinedSmileButton40 {
  @include buttonStyleDelete;
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--gray-300, #ccc);
  background: var(--white, #fff);
  p {
    color: var(--gray-900, #181818);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 150% */
    letter-spacing: -0.16px;
  }
  svg {
    width: 24px;
    height: 24px;
  }

  &.disabled {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-300, #ccc);
    p {
      color: var(--white, #fff);
      text-align: center;
    }

    cursor: auto;
  }

  &:not(.disabled):hover {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-100, #f6f6f6);
  }
  &:not(.disabled):focus {
    border: 1px solid var(--gray-500, #555);
    background: var(--white, #fff);
  }
  &:not(.disabled):active {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-100, #f6f6f6);
  }
}

.outlinedButton36 {
  @include buttonStyleDelete;
  display: inline-flex;
  height: 36px;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--gray-300, #ccc);
  background: var(--white, #fff);
  p {
    width: 90px;
    height: 24px;
    color: var(--gray-900, #181818);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
  }

  &.disabled {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-300, #ccc);
    p {
      color: var(--white, #fff);
    }
    cursor: auto;
  }

  &:not(.disabled):hover {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-100, #f6f6f6);
  }
  &:not(.disabled):focus {
    border: 1px solid var(--gray-500, #555);
    background: var(--white, #fff);
  }
  &:not(.disabled):active {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-100, #f6f6f6);
  }
}

.outlinedSmileButton36 {
  @include buttonStyleDelete;
  display: inline-flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 6px;
  border: 1px solid var(--gray-300, #ccc);
  background: var(--white, #fff);
  cursor: pointer;
  p {
    color: var(--gray-900, #181818);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  svg {
    width: 24px;
    height: 24px;
  }

  &.disabled {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-300, #ccc);
    p {
      color: var(--white, #fff);
    }
    cursor: auto;
  }

  &:not(.disabled):hover {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-100, #f6f6f6);
  }
  &:not(.disabled):focus {
    border: 1px solid var(--gray-500, #555);
    background: var(--white, #fff);
  }
  &:not(.disabled):active {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-100, #f6f6f6);
  }
}

.outlinedButton28 {
  @include buttonStyleDelete;
  display: inline-flex;
  height: 28px;
  padding: 2px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 6px;
  border: 1px solid var(--gray-300, #ccc);
  background: var(--white, #fff);
  p {
    width: 90px;
    height: 24px;
    color: var(--gray-900, #181818);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.07px;
  }

  &.disabled {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-300, #ccc);
    p {
      color: var(--white, #fff);
    }
    cursor: auto;
  }

  &:not(.disabled):hover {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-100, #f6f6f6);
  }
  &:not(.disabled):focus {
    border: 1px solid var(--gray-500, #555);
    background: var(--white, #fff);
  }
  &:not(.disabled):active {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-100, #f6f6f6);
  }
}

.outlinedSmileButton28 {
  @include buttonStyleDelete;
  display: inline-flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 6px;
  border: 1px solid var(--gray-300, #ccc);
  background: var(--white, #fff);
  p {
    color: var(--gray-900, #181818);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.07px;
  }
  svg {
    width: 20px;
    height: 20px;
  }

  &.disabled {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-300, #ccc);
    p {
      color: var(--white, #fff);
    }
    cursor: auto;
  }

  &:not(.disabled):hover {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-100, #f6f6f6);
  }
  &:not(.disabled):focus {
    border: 1px solid var(--gray-500, #555);
    background: var(--white, #fff);
  }
  &:not(.disabled):active {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-100, #f6f6f6);
  }
}

.outlinedSingleButton36 {
  @include buttonStyleDelete;
  display: inline-flex;
  padding: 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--gray-300, #ccc);
  background: var(--white, #fff);
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
  }

  &.disabled {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-300, #ccc);
    cursor: auto;
  }

  &:not(.disabled):hover {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-100, #f6f6f6);
  }
  &:not(.disabled):focus {
    border: 1px solid var(--gray-500, #555);
    background: var(--white, #fff);
  }
  &:not(.disabled):active {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-100, #f6f6f6);
  }
}

.outlinedSingleButton28 {
  @include buttonStyleDelete;
  display: inline-flex;
  padding: 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--gray-300, #ccc);
  background: var(--white, #fff);
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
  }

  &.disabled {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-300, #ccc);
    cursor: auto;
  }

  &:not(.disabled):hover {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-100, #f6f6f6);
  }
  &:not(.disabled):focus {
    border: 1px solid var(--gray-500, #555);
    background: var(--white, #fff);
  }
  &:not(.disabled):active {
    border: 1px solid var(--gray-300, #ccc);
    background: var(--gray-100, #f6f6f6);
  }
}
