@import 'assets/styles/global.scss';

html,
body {
  height: 100%;
}

.cardListContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

.heightCover {
  height: 12.7rem;
}

.cardList {
  position: relative;
  display: grid;
  margin-top: 11.3rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  width: 120rem;
  grid-auto-rows: 28rem;
  @media (max-width: 1248px) {
    width: calc(100% - 4.8rem);
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    margin-top: 9.3rem;
  }
  @include tablet {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin-top: 9.3rem;
  }
  @include mobile {
    width: 100%;
    grid-template-columns: 1fr;
    margin-top: 3.2rem;
  }
}

.basicButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38.4rem;
  height: 28rem;
  border-radius: 1.6rem;
  background: $White;
  box-shadow: 0rem 0.2rem 1.2rem 0rem rgba(0, 0, 0, 0.08);
  padding: 2.8rem 2.4rem;
  @include tablet {
    width: 100%;
    height: 100%;
  }
}

.card {
  position: relative;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.1);
    z-index: 1;
  }
}

.toast {
  position: fixed;
  bottom: 7rem;
  width: 52.4rem;
  height: 6.4rem;
  @include tablet {
    position: fixed;
    bottom: 7rem;
  }
  @include mobile {
    position: fixed;
    bottom: 7rem;
    width: calc(100% - 4.8rem);
  }
}

.editButton {
  position: absolute;
  top: -5rem;
  right: 0;
  @include tablet {
    position: fixed;
    z-index: 1;
    bottom: 2.4rem;
    right: auto;
    top: auto;
    width: calc(100% - 4.8rem);
  }
}
