.headerServiceContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.1rem 36rem;
    .toNickname{
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: -0.28px;
    }
    .headerRight{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        .howManyPerson{
            margin: 0 2.8rem 0 0;
            p{
                color: var(--gray-900, #181818);
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 2.7rem;
                span{
                    font-weight: 700;
                }
            }
        }
        .selectionBar{
            width: 0.1rem;
            height: 2.8rem;
            background-color: var(--gray-200, #EEE);;
        }
        .headerEmoji{
            display: flex;
            margin: 0 0 0 2.8rem;
            button{
                display: flex;
                padding: 8px 12px;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                border-radius: 32px;
                background: rgba(0, 0, 0, 0.54);
            }
        }
        .addEmojiBtn{
            display: flex;
            align-items: center;
            border-radius: 6px;
            border: 1px solid var(--gray-300, #CCC);
            background: var(--white, #FFF);
            padding: 6px 16px;
            font-weight: 500;
            font-size: 1.6rem;
        }
        .shareBtn{
            display: flex;
            align-items: center;
            border-radius: 6px;
            border: 1px solid var(--gray-300, #CCC);
            background: var(--white, #FFF);
            padding: 6px 16px;
        }
    }
    
    
}