@import 'assets/styles/global.scss';

@mixin buttonStyles {
  display: inline-flex;
  padding: 0.6rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  border: 0.1rem solid $Grayscale300;
}

.trashButton {
  @include buttonStyles;
  background: $White;
  cursor: pointer;

  &:hover {
    background: $Grayscale100;
  }

  &:active {
    background: $Grayscale100;
  }

  &:focus {
    border: 0.1rem solid $Grayscale500;
    background: $White;
  }
}

.disabled {
  @include buttonStyles;
  background: $Grayscale300;
}
