@import 'assets/styles/global.scss';

.dummyHeader {
  height: 6.4rem;
}

.main {
  width: 100%;
  margin: 6rem 0 2.4rem;
  padding: 0 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.button {
  width: 28rem;
}

.serviceTitleBr {
  @include tablet {
    display: none;
  }
}
