@import 'assets/styles/global.scss';
.postPageContainer {
  @include mobile {
    margin: 0 2rem;
  }
  .headerContainer {
    width: 100%;
    @include mobile {
      display: none;
    }
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5.7rem;
    @include mobile {
      padding-top: 5rem;
    }
    .recipientContainer {
      .toText {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 4.2rem;
      }
      .error {
        color: red;
        font-size: 1.6rem;
      }
      .recipientNickname {
        margin-top: 1.2rem;
        margin-bottom: 1rem;
      }
      .chooseText {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 3.6rem;
        margin-bottom: 0.4rem;
        margin-top: 5rem;
      }
      .whichChooseText {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.6rem;
        margin-bottom: 2.4rem;
      }
      .createBtn {
        margin-top: 6.9rem;
        width: 72rem;
        @include tablet {
          position: fixed;
          bottom: 2.4rem;
          margin-top: 0;
        }
        @include mobile {
          width: 32rem;
        }
      }
    }
  }
}
