@import 'assets/styles/global.scss';
.modalContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 4.3rem;
  right: -0.45rem;
  z-index: 1;
  overflow: auto;
  border-radius: 8px;
  border: 0.1rem solid #b6b6b6;
  background: #fff;
  box-shadow: 0 0.2rem 1.2rem 0 rgba(0, 0, 0, 0.08);

  @include mobile {
    top: 3.6rem;
    right: -0.6rem;
  }

  .closeModal {
    color: red;
  }

  .emojiBtnContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    margin: 2.4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;

    @include mobile {
      margin: 1.6rem;
    }

    &.tabletEmojiBtn {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .emojiBtn {
    gap: 10px;
    border-radius: 3.2rem;
    background-color: $White;
    border: none;
    color: $White;
    cursor: pointer;
  }
}
