.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 0;
    width: 120rem;
    .headerLogo {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      .headerTitle {
        font-size: 2rem;
        font-weight: 700;
        color: var(--gray-light-gray-90, #4a494f);
      }
    }
    .addRollingBtn {
      border-radius: 6px;
      border: 1px solid var(--gray-300, #ccc);
      background: var(--white, #fff);
      padding: 8px 16px;
      font-weight: 700;
    }
  }
}
.line {
  border: none;
  height: 0.1rem;
  background-color: #ededed;
}
