@import 'assets/styles/global.scss';
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 120rem;
  padding: 1.1rem 2.4rem;
  background: var(--white, #fff);

  .headerLogo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    .headerTitle {
      font-size: 2rem;
      font-weight: 700;
      color: var(--gray-light-gray-90, #4a494f);
    }
  }
  .addRollingBtn {
    border-radius: 0.6rem;
    border: 1px solid var(--gray-300, #ccc);
    background: var(--white, #fff);
    padding: 0.8px 1.6px;
    font-weight: 700;
  }
}
.line {
  border: none;
  height: 0.1rem;
  background-color: #ededed;
}
