@import 'assets/styles/global.scss';
.headerServiceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.1rem 0;
  width: 100%;
  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120rem;
    @include mobile {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .lineOnMobile {
      display: none;
      border: none;
      height: 0.1rem;
      width: 100%;
      background-color: #ededed;
      @include mobile {
        display: block;
        margin: 1.1rem 0;
      }
    }
  }
  .toNickname {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.28px;
  }
  .headerRight {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    .howManyPerson {
      margin: 0 2.8rem 0 0;
      display: flex;
      @include tablet {
        display: none;
      }
      p {
        color: var(--gray-900, $Grayscale900);
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.7rem;
        span {
          font-weight: 700;
        }
      }
      .senderProfile {
        position: relative;
        display: flex;
        left: -1.5rem;
        .senderProfileImg {
          width: 2.8rem;
          height: 2.8rem;
          border-radius: 14rem;
          margin-right: -1.3rem;
          border: 1.4px $White solid;
        }
        .senderCount {
          width: 2.8rem;
          height: 2.8rem;
          border-radius: 14rem;
          margin-right: -1.3rem;

          border: 1px #e3e3e3 solid;
          background-color: $White;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.2rem;
          font-weight: 500;
          line-height: 18px;
          color: #484848;
        }
      }
    }
    .selectionBar {
      width: 0.1rem;
      height: 2.8rem;
      background-color: var(--gray-200, #eee);
      @include tablet {
        display: none;
      }
    }
    .selectionBar2 {
      width: 0.1rem;
      height: 2.8rem;
      background-color: var(--gray-200, #eee);
      margin: 0 1.2rem;
    }
    .headerEmoji {
      display: flex;
      margin: 0 0 0 2.8rem;
      gap: 0.8rem;
      @include mobile {
        margin: 0;
        margin-right: 0.8rem;
      }
      .emojiBtn {
        display: inline-flex;
        padding: 8px 12px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        border-radius: 3.2rem;
        background-color: $Grayscale400;
        border: none;
        color: $White;
      }
      .modalIcon {
        position: relative;
        border: none;
        background-color: $White;
      }
    }
    .addEmojiBtn {
      display: flex;
      align-items: center;
      border-radius: 6px;
      border: 1px solid var(--gray-300, $Grayscale300);
      background-color: $White;
      padding: 6px 16px;
      font-weight: 500;
      font-size: 1.6rem;
    }
    .shareBtn {
      display: flex;
      align-items: center;
      border-radius: 6px;
      border: 1px solid var(--gray-300, $Grayscale300);
      background: var(--white, $White);
      padding: 6px 16px;
    }
  }
}

.emojiSelect {
  position: absolute;
  top: 4rem;
  right: 5rem;
}
.onMobileHide {
  @include mobile {
    display: none;
  }
}
